{% extends 'base.html' %} 
{% block content %} 
  <h1 class="text-center mb-3">NGO Table</h1>
  {% if ngo_table_list %}
  <table id="table" 
			 data-toggle="table"
			 data-filter-control="true" 
			 data-click-to-select="true"
			 data-toolbar="#toolbar"
       class="table-responsive">
	<thead>
		<tr>
			<th data-field="STATE_UT" data-filter-control="input" data-sortable="true">STATE/UT</th>
			<th data-field="SPECIFIC_LOCATION" data-filter-control="select" data-sortable="true">SPECIFIC LOCATIONS</th>
			<th data-field="TARGET_GROUPS" data-filter-control="input" data-sortable="true">TARGET BENEFICIARY GROUPS</th>
            <th data-field="TYPE_OF_BENEFIT" data-filter-control="select" data-sortable="true">TYPE OF SUPPORT TO BENEFICIARY</th>
            <th data-field="ORGANIZATION" data-filter-control="select" data-sortable="true">ORGANIZATION NAME</th>
            <th data-field="INITIATIVE" data-filter-control="select" data-sortable="true">INITIATIVE</th>
            <th data-field="WEBSITE" data-filter-control="select" data-sortable="true">Website/Initiative Link</th>
            <th data-field="DONATION_LINK" data-filter-control="select" data-sortable="true">Donation Link</th>
            <th data-field="DONATION_INFO" data-filter-control="select" data-sortable="true">Donation Info</th>
            <th data-field="FOREIGN_DONATION" data-filter-control="select" data-sortable="true">Foreign donations</th>
            <th data-field="INFO" data-filter-control="select" data-sortable="true">INFO</th>
		</tr>
  </thead>
  <tbody>
    {% for ngo in ngo_table_list %}
    <tr>
      <td>{{ ngo.STATE_UT }}</td>
      <td>{{ ngo.SPECIFIC_LOCATION }}</td>
      <td>{{ ngo.TARGET_GROUPS }}</td>
      <td>{{ ngo.TYPE_OF_BENEFIT }}</td>
      <td>{{ ngo.ORGANIZATION }}</td>
      <td>{{ ngo.INITIATIVE }}</td>
      <td>{{ ngo.WEBSITE }}</td>
        <td>{{ ngo.DONATION_LINK }}</td>
        <td>{{ ngo.DONATION_INFO }}</td>
        <td>{{ ngo.FOREIGN_DONATION }}</td>
        <td>{{ ngo.INFO }}</td>
		</tr>
    {% endfor %}
  </tbody>
  </table>
  {% else %}
    <p>No polls available</p>
  {% endif %}
{% endblock %}