<section id="about" class="contact">
    <div class="container">
        <div class="row mb50">
            <div class="sec-title col-xs-12 text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
                <h2>About The Database</h2>
                <div class="devider"><i class="fa fa-lg"></i></div>
            </div>
            
            <div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
                <p class="pd-lr-1">
                    In these difficult times for India, many people want to donate to organizations involved in Covid-19
                    (Novel Coronavirus) relief efforts. Several organizations are helping people impacted by this disease,
                    and by the much-needed lockdown currently going on to fight it.<br><br>
                    However, figuring out trusted organizations and charities to donate to can be difficult.<br><br>
                    Although governmental machinery is running on overdrive, and several governmental funds exist at
                    the central and state levels, <u>NGOs are working heavily in taking service delivery to the grassroots,
                    and to people who may slip through governmental relief efforts.</u> <b>THEY NEED OUR HELP.</b><br><br>
                    <u>This searchable database consists of registered NGOs needing donations to facilitate activities
                    related to Covid-19 relief efforts.</u><br><br>
                    You can search for organizations based on the State/Union Territory of operation (Nation-wide or
                    you can choose a State/UT), beneficiary groups that the NGO targets, the type of support the NGO
                    provides to beneficiaries, and whether or now the NGO accepts foreign donations. Once you find
                    potential NGOs of your interest, you can click on “MORE INFO &gt;&gt;” to get more information about the
                    NGO, including URLs to their website and donation links.
                </p>
            </div>
            
        </div>
    </div>
    
</section>