<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
        
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="footer-single">
                    <h6>Disclaimer: </h6>
                    <p>We have tried our best to verify organizations based on their websites, governmental and private
                        certifications, and social media presence. However, we cannot guarantee about their work or how
                        the money would be spent. We request you to do due diligence before donating to an organization.</p>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="footer-single footer-team">
                    <h6>The Team:</h6>
                    <p>
                        <u>Technical Team</u>: <a href="https://www.linkedin.com/in/parthjeet/" class="footer-link">Parth Jeet</a>, 
                                                <a href="https://www.linkedin.com/in/ckp1990/" class="footer-link"> Chandan K Pandey</a>, 
                                                <a href="https://www.linkedin.com/in/akhtar927/" class="footer-link"> Kamran Akhtar</a>, 
                                                <a href="https://www.linkedin.com/in/kishan-kumar-171082108/" class="footer-link"> Kishan Kumar</a><br><br>
                        <u>NGOs data collected by</u>: 
                                                <a href="https://www.linkedin.com/in/arpeet-sahoo-a094706a/" class="footer-link"> Arpeet Sahoo</a>, 
                                                Dayani Chakravarthy, 
                                                Dina Nethisa Rasquinha, 
                                                D Kaikho,
                                                <a href="https://www.linkedin.com/in/manaswi-raghurama-3566297a/" class="footer-link">Manaswi Raghurama</a>, 
                                                Naman Tiwari, 
                                                Rose Sebastian Kunnappallil, 
                                                <a href="https://www.linkedin.com/in/a-soumya-rao-9bb483128/" class="footer-link">Soumya Rao</a>, 
                                                Srabasti Nandi<br><br>

                        We would like to acknowledge two pre-existing spreadsheets from where we started building this
                        database:<br>
                        <a class = "footer-link" href=https://drive.google.com/file/d/1LDIV5Bm1m4A8o8QRZDcclAVHxfdf_UpI/view>bit.ly/CovidDonationsIndia</a><br>
                        <a class = "footer-link" href=https://docs.google.com/spreadsheets/u/2/d/1FyqTYsNLA-S1Y1F-utl6nKjzL0zyyjIkRyjMUg5Pw74/htmlview#gid=0>bit.ly/CovidCampaignsIndia</a>
                    </p>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="footer-single">
                    <h6>Support</h6>
                    <p>
                        In case of any questions or suggestions, please contact <u>Manaswi: <a class = "footer-link" href="mailto:manaswi1993@gmail.com">manaswi1993@gmail.com</u></a>
                    </p>
                    <p>
                        For technical queries or suggestions, please contact <a class = "footer-link" href="https://www.linkedin.com/in/parthjeet/" ><u>Parth</u></a>
                    </p>
                </div>
            </div>
            
        </div>

    </div>
</footer>