<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">

                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2>Be the HERO you always wanted to be.</h2>
                    <h3>Filter and Search for the cause closer to your heart,  </h3>
                    <h3 class="pt-none">'cause there is no exercise better for the heart than reaching down and lifting people up.  </h3>
                    <div class="devider"><i class="fa fa-lg"></i></div>
                </div>
                
                
                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2>COVID-19 Statistics</h2>
                </div>
                
                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="counters-item">
                        <strong data-to="1196553">500000</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Worldwide Infected</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item">
                        <strong data-to="64549">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Worldwide Deceased</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item">
                        <strong data-to="3072">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Infected in India</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="counters-item">
                        <strong data-to="75">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Deceased in India</p>
                    </div>
                </div>
                <!-- end first count item -->
        
            </div>
        </div>
    </div>
</section>